/*Generales*/

:root {
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-gray: hsl(0, 0%, 27%);
  }  

* {
    box-sizing: border-box;
    font-family: League Spartan;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
  }

/*Grin principal*/
.container {
    display: grid;
    gap: 0; /*in espaciado entre elementos del grid*/
  
    grid-template-areas:
      "header header header"
      "main  main  main";
  
      grid-template-columns: 1fr;
      grid-template-rows: auto auto;
  }
  
  /* Areas */
  header {
    grid-area: header;
  }
  
  main {
    grid-area: main;
  }


  /*Elementos del header - primera fila del grid*/
  .hero {
    display: flex; /*Alinea los elementos de la fila 1 de forma horizontal*/
    position: relative; /* Para poder pocisionar elementos hijo de forma absoluta */
    height: 100%; 
  }

  .hero-image {
    flex-basis: 65%;
  }

  .hero-text {
    flex-basis: 35%;
  }

  .hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;                  
  }
  
  nav {
    position: absolute;
    display: flex; /*Para que los elementos dentro del nav se ordenen horizontalmente*/
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 50px;   
    color: var(--white);
    z-index: 10; 
    background: transparent; 
  }

  .logo {
    margin-right: 40px;
  }

  .nav-links {
    display: flex; /*Para que los links del nav se vean horizontales*/
    align-items: flex-start; /*Para que los links se alinien arriba y se acomoden al icono*/
    justify-content: space-between; /*Para que los links se separen entre si*/
    list-style: none; /*Quita estilos de los elementos de la lista*/
  }

  .nav-links a {
    text-decoration: none; /* Quita estilos por defecto de los a */
    color: inherit; /* Da el color blanco al texto */
    margin: 0 15px; /* Da espacio entre los links */
    font-size: 15px;
}

.hero-text {
    padding: 6vw 5vw 0 5vw; /*arriba - derecha - abajo - izquierda*/
}

h1 {
    font-size: 36px;
    line-height: 1.2;
    color: var(--black);
}

.hero-text p {
    margin: 20px 0;
    color: var(--dark-gray);
    line-height: 1.5;
}

.hero-text a {
    text-decoration: none;
    color: var(--very-dark-gray);
    letter-spacing: 10px;
    padding-bottom: 5px;
    font-weight: bold;
}

.hero-controls {
    position: absolute;
    bottom: 0;
    left: 65%; /*Se posiciona un 65% a la izquierda porque es el % que ocupa la caja que contiene la imagen*/
}

.hero-controls button {
    width: 60px;       
    height: 60px;
    background: var(--black);
    border: none;
    cursor: pointer;
}

#icon-hamburger {
    display: none; /*Oculta le menu hamburguesa cuando se utiliza desktop*/
}

footer {
display: none;
}

#contact {
display: none;
}

/*Elementos del main - segunda fila del grid*/
.about {
    display: flex; /*Alinea los elementos de la fila 2 de forma horizontal*/
    justify-content: space-between;
}

.about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

.left {
    flex-basis: 30%;
}

.right {
    flex-basis: 26.5%;
}

.about-content {
    flex-basis: 43.5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content h2 {
    font-size: 18px;
    color: var(--black);
    margin: 20px;
}

.about-content p {
    color: var(--dark-gray);
    line-height: 1.5;
    margin: 0 20px;
}